<!doctype html>
{% load staticfiles %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>Mango</title>
    {% include 'snippets/header.html' %}
  </head>
  <body>

    <!-- Body -->
    <style type="text/css">
      .main{
        min-height: 100vh;
        height: 100%;
      }
    </style>
    <div class="main">
      {% block body_block %}

      {% endblock %}
    </div>

    <!-- End Body -->

    {% include 'snippets/footer.html' %}

  </body>
</html>