{% extends 'mango/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Mango Money</h1>
        <p class="lead">
            Nothing yet, will add data here
        </p>
</div>

<div class="container">
    <!-- Flex Box -->
    <div class="d-flex flex-column">
        <h4>This is going to be the sample content</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eius, doloribus quis beatae sit exercitationem, at consequuntur cum perferendis asperiores cupiditate, sunt illum fugit ullam. Nam ipsum repellat vero praesentium.</p>
    </div>
</div>
{% endblock %}