{% extends 'mango/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Mango Money</h1>
        {% if user.is_authenticated %}
            <p class="lead">    
                Here is a summary of your accounts           
            </p>
        {% else %}
            <p class="lead">    
                Please sign in to view summary of accounts
            </p>
        {% endif %}
</div>

<div class="container">
    <!-- Flex Box -->
    <div class="d-flex flex-column">

        {% if user.is_authenticated %}



            <form method="POST">
                    {% csrf_token %}
                    {{ query_form }}
                <button type="submit">Make Query</button>
            </form>


            <div>
                <p>The number of transactions is {{ number_transaction }} </p>
                <p>The average amount per transaction is {{ average_transaction }}</p>
                <p>The total is {{ sum_transaction }}</p>

            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Amount</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>date</th>
                </tr>
                {% for item in allTransactions %}
                <tr>
                    <td>{{ item.transaction_name }}</td>
                    <td>{{ item.account_name }}</td>
                    <td>{{ item.transaction_amount }}</td>
                    <td>{{ item.transaction_location }}</td>
                    <td>{{ item.category_name }}</td>
                    <td>{{ item.transaction_date }}</td>

                </tr>
                {% endfor %}
            </table>


        {% else %}
            <p>    
                Not Signed in
            </p>
        {% endif %}


    </div>
</div>
{% endblock %}