{% extends 'mango/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Mango Money</h1>
        {% if user.is_authenticated %}
            <p class="lead">    
                Here is a summary of your accounts           
            </p>
        {% else %}
            <p class="lead">    
                Please sign in to view summary of accounts
            </p>
        {% endif %}
</div>

<div class="container">
    <!-- Flex Box -->
    <div class="d-flex flex-column">


        {% if no_transactions %}
            <p>
                There are no transactions to display, please add them from the account page!
            </p>
        {% else %}
            <form method="POST">
                    {% csrf_token %}
                    {{ query_form }}
                <button type="submit">Make Query</button>
            </form>

            <div>
                <p>The number of transactions is {{ number_transaction }} </p>
                <p>The average amount per transaction is {{ average_transaction }}</p>
                <p>The total is {{ sum_transaction }}</p>

            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Amount</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>date</th>
                </tr>
                {% for item in allTransactions %}
                <tr>
                    <td>{{ item.transaction_name }}</td>
                    <td>{{ item.account_name }}</td>
                    <td>{{ item.transaction_amount }}</td>
                    <td>{{ item.transaction_location }}</td>
                    <td>{{ item.category_name }}</td>
                    <td>{{ item.transaction_date }}</td>

                </tr>
                {% endfor %}
            </table>


<br>
<br>

<!-- ***************************************************************************************** -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
<style>
        #map{
          height:400px;
          width:100%;
        }
</style>
  <div id="map"></div>
  <script>
    function initMap(){
      // console.log(latCoord);
      // Map options
      var addresses = []
      {% for item in allTransactions %}
        addresses.push( '{{ item.transaction_location }}' );
      {% endfor %}
      // var addresses = ["1119 Spirit Way, Tallahassee, FL 32304", "312 Stadium Drive, Tallahassee, FL 32304", "322 Stadium Dr, Tallahassee, FL","7411 Dover Court Parkland, Fl"];

      var lats = [];
      var lngs = [];

      for(var i = 0; i < addresses.length; i++){
        var location = addresses[i];

        axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
        params:{
          address:location,
          key:'AIzaSyCIazL1Lf3GC4O5gVhJSkbdcyqsTqt9R2I'
        }
        })
        .then(function(response){
          // Log full response
          console.log(response);
          latCoord = response.data.results[0].geometry.location.lat;
          lats.push(latCoord);
          lngCoord = response.data.results[0].geometry.location.lng;
          lngs.push(lngCoord);
          // console.log(latCoord);
          // Formatted Address

        var options = {
          zoom:17,
          center:{lat:latCoord,lng:lngCoord}
        }

        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);

<!--        // Listen for click on map-->
<!--        google.maps.event.addListener(map, 'click', function(event){-->
<!--          // Add marker-->
<!--          addMarker({coords:event.latLng});-->
<!--        });-->

        // Loop through markers
        for(var j = 0;j < lats.length;j++){
          // Add marker
          addMarker({coords:{lat:lats[j],lng: lngs[j]}});
        }

        //addMarker({coords:{lat:30.442762, lng-84.30659})

        // Add Marker Function
        function addMarker(props){
          var marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            //icon:props.iconImage
          });

          // Check for customicon
          if(props.iconImage){
            // Set icon image
            marker.setIcon(props.iconImage);
          }

          // Check content
          if(props.content){
            var infoWindow = new google.maps.InfoWindow({
              content:props.content
            });

            marker.addListener('click', function(){
              infoWindow.open(map, marker);
            });
          }
        }
        })
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIazL1Lf3GC4O5gVhJSkbdcyqsTqt9R2I&callback=initMap">
    </script>


<!-- Kevin waz here -->

<!-- ***************************************************************************************** -->


    </div>
</div>
{% endif %}

{% endblock %}