<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map</title>
  <style>
    #map{
      height:400px;
      width:100%;
    }
  </style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
</head>
<body>
  <h1>Transaction Location</h1>
  <div id="map"></div>
  <script>
    function initMap(){
      // console.log(latCoord);
      // Map options

      var addresses = ["1119 Spirit Way, Tallahassee, FL 32304", "HENTAI", "312 Stadium Drive, Tallahassee, FL 32304", "322 Stadium Dr, Tallahassee, FL","7411 Dover Court Parkland, Fl"];

      var lats = [];
      var lngs = [];

      for(var i = 0; i < addresses.length; i++){
        var location = addresses[i];

        axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
        params:{
          address:location,
          key:'AIzaSyCIazL1Lf3GC4O5gVhJSkbdcyqsTqt9R2I'
        }
        })
        .then(function(response){
          // Log full response
          console.log(response);
          latCoord = response.data.results[0].geometry.location.lat;
          lats.push(latCoord);
          lngCoord = response.data.results[0].geometry.location.lng;
          lngs.push(lngCoord);
          // console.log(latCoord);
          // Formatted Address

        var options = {
          zoom:17,
          center:{lat:latCoord,lng:lngCoord}
        }

        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);

<!--        // Listen for click on map-->
<!--        google.maps.event.addListener(map, 'click', function(event){-->
<!--          // Add marker-->
<!--          addMarker({coords:event.latLng});-->
<!--        });-->

        // Loop through markers
        for(var j = 0;j < lats.length;j++){
          // Add marker
          addMarker({coords:{lat:lats[j],lng: lngs[j]}});
        }

        //addMarker({coords:{lat:30.442762, lng-84.30659})

        // Add Marker Function
        function addMarker(props){
          var marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            //icon:props.iconImage
          });

          // Check for customicon
          if(props.iconImage){
            // Set icon image
            marker.setIcon(props.iconImage);
          }

          // Check content
          if(props.content){
            var infoWindow = new google.maps.InfoWindow({
              content:props.content
            });

            marker.addListener('click', function(){
              infoWindow.open(map, marker);
            });
          }
        }
        })
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIazL1Lf3GC4O5gVhJSkbdcyqsTqt9R2I&callback=initMap">
    </script>
</body>
</html>